<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>勤怠管理表</title>
</head>
<script th:src="@{/js/roster.js}"></script> 
<link th:href="@{/css/roster.css}" rel="stylesheet">
<body onload="onLoad();">
<form name="roster" action="/roster" method="POST">
  <div id="allArea" style="text-align:center;">
    <h2>勤怠管理表</h2>
    <div style="text-align:center;">
      <button type="button" style="margin-right:20px;" onClick="monthChange(true);">＜前月</button>
        <span th:text="${dispYear} + '年' + ${dispMonth} + '月'"></span>
      <button type="button" name="btnNextMonth" style="margin-left:20px;" onClick="monthChange(false);">翌月＞</button>
    </div>
    <div style="margin-top:20px;">
      <button type="button" name="btnStart" style="margin-right:20px;" onClick="frmSubmit(true);">業務開始</button>
      <button type="button" name="btnEnd" onClick="frmSubmit(false);">業務終了</button>
    </div>
    <!-- 勤務表作成開始 -->
    <table border="1" class="border" style="margin:auto; margin-top:20px;">
      <tr>
        <td width="200px" class="dispDay">日付</td>
        <td width="200px" class="dispDay">始業時間</td>
        <td width="200px" class="dispDay">終業時間</td>
      </tr>
	  <tr th:each="map:${dispRosterList}" th:object="${user}" class="align-middle">
	  <td class="dispDay">
	    <span th:text="${map.strMonth}"></span>月<span th:text="${map.strDay}"></span>日(<span th:text="${map.dispYoubi}"></span>)
	  </td>
	  <td>
	    <span th:id="${map.strMDstart}" th:text="${map.startTime}"></span>
	  </td>
	  <td>
     	<span th:id="${map.strMDend}" th:text="${map.endTime}"></span>
	  </td>
	  </tr>
    </table>
    <!-- 勤務表作成終了 -->
  </div>
  <!-- 隠し項目（パラメータ）-->
  <input type="hidden" name="startFlg" value="">
  <input type="hidden" name="endFlg"   value="">
  <input type="hidden" name="dispYear"  value="">
  <input type="hidden" name="dispMonth" value="">
  <input type="hidden" name="dispYM"   th:value="${dispYM}">
  <input type="hidden" name="nowYM"    th:value="${nowYM}">
  <input type="hidden" name="nowYoubi" th:value="${intNowYoubi}">
</form>
</body>
</html>